<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Planilla</li>
        <li class="breadcrumb-item active" aria-current="page">Configuracion</li>
    </ol>
</nav>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true" routerLink="/pantalla" routerLinkActive="active">Vehiculo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false" routerLink="/clasevehiculo" routerLinkActive="active">Clase de vehiculo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="background-color: rgb(244, 244, 245);" id="contact-tab" data-toggle="tab"
            href="#contact" role="tab" aria-controls="contact" aria-selected="false" routerLink="/tipovehiculo"
            routerLinkActive="active">Tipo de vehiculo</a>
    </li>
</ul>
<br>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="Ingrese texto">
    </div>
    <!-- Button trigger modal -->
    <button title="crear tipo de vehiculo" class="btn btn-secondary btn-success" data-toggle="modal"
    data-target="#exampleModal" type="button"><i class="fas fa-plus"></i></button>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creacion tipo de vehiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="tipoForm" (ngSubmit)="vhForm()">
                    <div class="form-group">
                        <label for="nombreVehiculo">Nombre</label>
                        <input type="text" formControlName="nombreVehiculo" class="form-control" id="nombreVehiculo"
                            name="nombreVehiculo" placeholder="Nombre tipo vehiculo">
                    </div>
                        <button type="submit" class="btn btn-primary btn-success" (click)="guardarTipo()">Guardar</button>
                        <button type="button" class="btn btn-secondary" style="position: relative; right: -22px;" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th scope="col" class="text-muted font-weight">Tipo de vehiculos creados</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipo of tipovehiculo; let i = index">
                <td>{{tipo.nombreVehiculo}} </td>
                <td> <button type="button" (click)="getTipoId(tipo)" class="btn btn-outline-warning"data-toggle="modal" data-target="#modalEditar"><i
                    class="far fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditar">Creacion tipo de vehiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="tipoForm" (ngSubmit)="editarTipo()">
                    <div class="form-group">
                        <label for="nombreVehiculo">Nombre</label>
                        <input type="text" formControlName="nombreVehiculo" class="form-control" id="nombreVehiculo"
                    name="nombreVehiculo" [(ngModel)]="getTipoVehiculo.nombreVehiculo" value="{{getTipoVehiculo.nombreVehiculo}}" placeholder="Nombre tipo vehiculo">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary btn-success" >Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>