<!--<div>
    <img src="../../assets/img/Go_Logo_.png" class="col-sm-2" style="position: relative; top: 4px;">   
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <button class="navbar-toggler sidebar-toggler" style="position: relative; left: 70px; top: -27px;" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
    <li class="nav-item px-3" style="position: relative; left: 55px; top: -27px;">
      <a class="nav-link" href="#"><i class="fas fa-comment-dollar"></i> Ventas</a>
    </li>
    <li class="nav-item" style="position: relative; left: 45px; top: -27px;">
      <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Abastecimiento</a>
    </li>
    <li class="nav-item g" style="position: relative; left: 55px; top: -27px;">
      <a class="nav-link" routerLink="/pantalla" routerLinkActive="active"><i class="fas fa-calendar-alt"></i>Planilla</a>
    </li>
    <li class="nav-item" style="position: relative; left: 65px; top: -27px;">
      <a class="nav-link" href="#"><i class="fas fa-truck-loading"></i> Bodega</a>
    </li>
  </ul>
</div>-->
<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand">
  <img src="../../assets/img/Go_Logo_.png" width="69" height="35" alt="Go_Logo_">
</a>
<ul class="nav navbar-nav mr-auto d-md-down-none">
  <li class="nav-item px-3" style="position: relative; left: 150px; top: -37px;">
    <a class="nav-link" href="#"><i class="fas fa-comment-dollar"></i> Ventas</a>
  </li>
  <li class="nav-item" style="position: relative; left: 160px; top: -37px;">
    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Abastecimiento</a>
  </li>
  <li class="nav-item g" style="position: relative; left: 180px; top: -37px;">
    <a class="nav-link" routerLink="/pantalla" routerLinkActive="active"><i class="fas fa-calendar-alt"></i>Planilla</a>
  </li>
  <li class="nav-item" style="position: relative; left: 195px; top: -37px;">
    <a class="nav-link" href="#"><i class="fas fa-truck-loading"></i> Bodega</a>
  </li>
</ul>