<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Planilla</li>
        <li class="breadcrumb-item active" aria-current="page">Configuracion</li>
    </ol>
</nav>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" style="background-color: rgb(244, 244, 245);" id="home-tab" data-toggle="tab"
            href="#home" role="tab" aria-controls="home" aria-selected="true" routerLink="/pantalla"
            routerLinkActive="active">Vehiculo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false" routerLink="/clasevehiculo" routerLinkActive="active">Clase de vehiculo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false" routerLink="/tipovehiculo" routerLinkActive="active">Tipo de vehiculo</a>
    </li>
</ul>
<br>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputPassword2" placeholder="Ingrese texto">
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-secondary btn-success" data-toggle="modal" data-target="#exampleModal" type="button"><i
            class="fas fa-plus"></i></button>
</form>
<!-- Modal Crear vehiculo -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear vehiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Clase de vehiculo</h6>
                <form [formGroup]="intForm" (submit)="guardarForm()">
                    <select formControlName="claseVehiculo" name="" id="">
                        <h6>Seleccione...</h6>
                        <option *ngFor="let item of clase_vehiculo" value="{{item.idClase}}">{{item.nombreClaseV}}
                        </option>
                    </select>
                    <!--------Formulario para crear vehiculo INTERNO---------->
                    <div *ngIf="claseVehiculo.value === '1'">
                        <div class="form-group">
                            <label for="placa">Numero de placa</label>
                            <input type="text" class="form-control" formControlName="placa" id="placa" name="placa"
                                placeholder="Placa">
                            <div class="alert-danger" *ngIf="placa.invalid && (placa.dirty || placa.touched)">
                                <div class="container-error-message">
                                    Numero de placa requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fechaSoat">Fecha Soat</label>
                            <input type="date" class="form-control" formControlName="fechaSoat" id="fechaSoat"
                                name="fechaSoat" placeholder="Fecha Soat">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="fechaTec">Fecha Tecnicomecanica</label>
                            <input type="date" class="form-control" formControlName="fechaTec" id="fechaTec"
                                name="fechaTec" placeholder="Fecha Tecnicomecanica">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="pesoCarga">Peso de la carga</label>
                            <input type="number" class="form-control" formControlName="pesoCarga" id="pesoCarga"
                                name="pesoCarga" placeholder=" Peso de la carga">
                        </div>
                        <div class="form-group">
                            <label for="cubicaje">Cubicaje</label>
                            <input type="number" class="form-control" formControlName="cubicaje" id="cubicaje"
                                name="cubicaje" placeholder="Cubicaje">
                        </div>
                        <select formControlName="tipoVehiculo">
                            <option *ngFor="let tipo of tipo_vehiculo" value="{{tipo.idVehiculo}}">{{tipo.nombreVehiculo}}</option>
                        </select>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-success" [disabled]="!intForm.valid"
                                style="margin-right: 99px;" (click)="addVehiculo()">
                                Guardar
                            </button>

                        </div>
                    </div>
                    <!--formulario para crear vehiculo  (transportadora)-->
                    <div *ngIf="claseVehiculo.value === '3'">
                        <div class="form-group">
                            <label for="nit">Nit</label>
                            <input type="text" class="form-control" formControlName="placa" id="nit" placeholder="Nit">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre"
                                placeholder="Nombre">
                        </div>
                        <select formControlName="tipoVehiculo">
                            <option *ngFor="let tipo of tipo_vehiculo" value="{{tipo}}">{{tipo}}</option>
                        </select>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-success" [disabled]="!intForm.valid"
                                style="margin-right: 99px;" (click)="addVehiculo()">
                                Guardar
                            </button>

                        </div>
                    </div>
                    <!--formulario para crear vehiculo  (independiente)-->
                    <div *ngIf="claseVehiculo.value === '2'">
                        <h5>Informacion Vehiculo</h5>
                        <div class="form-group">
                            <label for="placa">Numero de placa</label>
                            <input type="text" class="form-control" formControlName="placa" id="placa" name="placa"
                                placeholder="Placa">
                            <div class="alert-danger" *ngIf="placa.invalid && (placa.dirty || placa.touched)">
                                <div class="container-error-message">
                                    Numero de placa requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fechaSoat">Fecha Soat</label>
                            <input type="date" class="form-control" formControlName="fechaSoat" id="fechaSoat"
                                name="fechaSoat" placeholder="Fecha Soat">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="fechaTec">Fecha Tecnicomecanica</label>
                            <input type="date" class="form-control" formControlName="fechaTec" id="fechaTec"
                                name="fechaTec" placeholder="Fecha Tecnicomecanica">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="pesoCarga">Peso de la carga</label>
                            <input type="number" class="form-control" formControlName="pesoCarga" id="pesoCarga"
                                name="pesoCarga" placeholder=" Peso de la carga">
                        </div>
                        <div class="form-group">
                            <label for="cubicaje">Cubicaje</label>
                            <input type="number" class="form-control" formControlName="cubicaje" id="cubicaje"
                                name="cubicaje" placeholder="Cubicaje">
                        </div>
                        <select formControlName="tipoVehiculo">
                            <option *ngFor="let tipo of tipo_vehiculo" value="{{tipo.idVehiculo}}">{{tipo.nombreVehiculo}}</option>
                        </select>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-success" [disabled]="!intForm.valid"
                                style="margin-right: 99px;" (click)="addVehiculo()">
                                Guardar
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--tabla para mostrar datos-->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-muted font-weight">Placa</th>
                <th scope="col" class="text-muted">Fecha Soat</th>
                <th scope="col" class="text-muted">Fecha tecnicomecanica</th>
                <th scope="col" class="text-muted">Peso de la carga</th>
                <th scope="col" class="text-muted">Cubicaje</th>
                <th scope="col" class="text-muted">Clase de vehiculo</th>
                <th scope="col" class="text-muted">Tipo de vehiculo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehiculo1 of vehiculo">
                <td class="font-weight-bold">{{vehiculo1.placa}}</td>
                <td class="font-weight-bold">{{vehiculo1.fecha_soat | date:'MM-dd-yyyy' }}</td>
                <td class="font-weight-bold">{{vehiculo1.fecha_tecnicomecanica | date:'MM-dd-yyyy' }}</td>
                <td class="font-weight-bold">{{vehiculo1.peso_carga}}</td>
                <td class="font-weight-bold">{{vehiculo1.cubicaje}}</td>
                <td class="font-weight-bold">{{vehiculo1.clase.nombreClaseV}}</td>
                <td class="font-weight-bold">{{vehiculo1.tipo.nombreVehiculo}}</td>
                <td>
                    <button (click)="getVehiculoPlaca(vehiculo1)" type="button"
                        class="btn btn-block btn-outline-warning" data-toggle="modal" data-target="#modalEditar"><i
                            class="far fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--modal editar vehiculo-->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditar">Editar vehiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Clase de vehiculo</h6>
                <form [formGroup]="intForm" (ngSubmit)="updateVehiculo()">
                    <select formControlName="claseVehiculo"  name="" id="">
                        <option *ngFor="let item of clase_vehiculo"  value="{{item.idClase}}">{{item.nombreClaseV}}
                        </option>
                    </select>
                    <div>
                        <div class="form-group">
                            <label for="placa">Numero de placa</label>
                            <input type="text" class="form-control" id="placa" name="placa" formControlName="placa"
                                placeholder="Placa" value="{{getVehiculo.placa}}">       
                        </div>
                        <div class="form-group">
                            <label for="fechaSoat">Fecha Soat</label>
                            <input type="date" class="form-control" id="fechaSoat" name="fechaSoat"
                                formControlName="fechaSoat" placeholder="Fecha Soat"  [(ngModel)]="getVehiculo.fecha_soat"
                                value="{{getVehiculo.fecha_soat | date : 'yyyy-MM-dd'}}">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="fechaTec">Fecha Tecnicomecanica</label>
                            <input type="date" class="form-control" id="fechaTec" name="fechaTec"
                                formControlName="fechaTec" placeholder="Fecha Tecnicomecanica"  [(ngModel)]="getVehiculo.fecha_tecnicomecanica"
                                value="{{getVehiculo.fecha_tecnicomecanica | date : 'yyyy-MM-dd'}}">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="pesoCarga">Peso de la carga</label>
                            <input type="number" class="form-control" id="pesoCarga" name="pesoCarga"
                                formControlName="pesoCarga" placeholder=" Peso de la carga" [(ngModel)]="getVehiculo.peso_carga"
                                value="{{getVehiculo.peso_carga}}">
                        </div>
                        <div class="form-group">
                            <label for="cubicaje">Cubicaje</label>
                            <input type="number" class="form-control" id="cubicaje" name="cubicaje"
                        formControlName="cubicaje" placeholder="Cubicaje" [(ngModel)]="getVehiculo.cubicaje" value="{{getVehiculo.cubicaje}}">
                        </div>
                        <div class="form-group">
                            <button type="submit"  class="btn btn-success">
                                Guardar Cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>