<header class="app-header navbar">    
    <app-navbar></app-navbar>
  </header>
  <div class="app-body">
        <div class="sidebar" style="background-color:white;">
                <app-sidebar></app-sidebar>  

                                     
             <!-- Sidebar content here -->
           </div>
           <main class="main" style="border-left: rgb(238, 237, 237) 1px inset; border-left-style:outset"> 
                 <router-outlet></router-outlet> 
           </main>
  </div>
  
  
