.callout-info :active{
    border-left-color: #285ed1;
}

.h{
    color: rgb(133, 131, 131);
}
.nav-dropdown.open .nav-link {
    color: rgb(133, 131, 131);
}
.nav-dropdown.open {
    background: white;
}
 .nav-link.active {
    color:rgb(133, 131, 131);
    background: white;
}
.fa-cog:before {
    color: black;
}