<nav class="sidebar-nav" class="active" style="background-color:white;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link h" href="#">
        <i class="far fa-calendar-alt"></i> <i class="nav-icon cui-speedometer"></i> Agendamiento
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link h" href="#">
        <i class="fas fa-map-marker-alt"></i> <i class="nav-icon cui-speedometer"></i> Rutas
      </a>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link h" href="#">
        <i class="far fa-calendar-check"></i> <i class="nav-icon cui-puzzle"></i> Legalizacion planillas
      </a>
    </li>
    <li class="nav-item nav-dropdown open callout callout-info active" >
      <a class="nav-link  nav-dropdown-toggle" style="background-color: rgb(244, 244, 245);" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false" routerLink="" routerLinkActive="active"><i class="fas fa-cog"></i> Configuracion
      </a>
    </li>

  </ul>
</nav>
